.topo{
    width: 100%;
    height: 10vh;
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topo_escuro{
    background-color: #000;
    width: 100%;
    height: 10vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topo_img{
    width: 50px;
    height: 35px;
}
.topo_btn{
    background-color: #fff;
    cursor: pointer;
    border: none;
}
.topo_btn_escuro{
    background: #000;
    border: none;
}
.topo_btn_img{
    width: 40px;
    height: 40px;
}